.profile-page {
}

.nav-bar {
  border-bottom: 1px solid rgba(200, 200, 200, 0.25);
  min-width: 800px;
  height: 70px;
  background: #222;

}

.nav-logo {
  float: left;
  color: #fff;
  font-size: 40px;
  margin: 10px 40px 0 30px;
}

.nav-logo:hover {
  color: #ccc;
}

.nav-prof-pic {
  margin-top: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #ccc;
  object-fit: cover;
  cursor: pointer;
}

.nav-prof-pic:hover {
  box-shadow: 0px 0px 5px #fff;
}

.nav-left {
  float: left;
}

.nav-left-link {
  float: left;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 61px;
  padding-top: 4px;
  margin-right: 40px;
}

.nav-left-link:hover {
  color: #ccc;
}

.nav-right {
  float: right;
  margin-right: 40px;
}

.nav-right-link {
  float: left;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 61px;
  padding-top: 4px;
  margin-left: 40px;
}

.nav-right-link:hover {
  color: #ccc;
}

.profile-main {
  width: auto;
  margin: 0 auto;
  background: none;
  padding-bottom: 60px;
  background: #fff;
  position: relative;
}

.profile-header {
  padding-top: 50px;
  margin-bottom: 30px;
  background-image: url(https://res.cloudinary.com/tomogasawara/image/upload/e_auto_contrast/v1484257601/20161023_141952_tclrz6.jpg);
  background-size: cover;
}

.profile-header-content {
  position: relative;
  padding-left: 80px;
  padding-right: 60px;
  margin: 0 auto;
}

.user-basics {
  float: left;
  margin-left: -30px;
  margin-bottom: -30px;
}

.like-section {
  position: relative;
  float: right;
  margin-top: 67px;
}

.profile-content {
  padding-top: 30px;
  min-height: 420px;
  padding-left: 80px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto;
}

.user-thumb {
  float: left;
  position: relative;
  z-index: 2;
  width: 180px;
  height: 180px;
}

.user-info {
  position: relative;
  float: left;
  margin-top: 37px;
  margin-left: 8px;
  padding: 12px;
  padding-top: 8px;
  max-width: 370px;
  white-space: nowrap;
}

.prof-pic {
  border-radius: 50%;
  background: #ccc;
  width: 180px;
  height: 180px;
  object-fit: cover;
  cursor: pointer;
}

.non-user {
  cursor: auto;
}

#update-input {
  position: absolute;
  left: -1000px;
}

.update-image-block {
  position: absolute;
  text-align: center;
  height: 35px;
  width: 110px;
  top: 110px;
  left: 35px;
  z-index: 2;
  opacity: 0;
}

.user-thumb:hover .update-image-block {
  border-radius: 5px;
  background: #888;
  color: #fff;
  opacity: 1;
  cursor: pointer;
  line-height: 35px;
}

.user-thumb:hover .update-image-block:hover {
  background: #444;
}

.user-name {
  color: rgba(255, 255, 255, 0.8);
  font-size: 35px;
  overflow: hidden;
}

.user-details {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  line-height: 26px;
  font-weight: lighter;
}

.profile-tabs-container {
  border-bottom: 1px solid rgba(150, 150, 150, 0.5);
  margin: 0 30px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}

.profile-tabs {
  width: 1000px;
  padding-left: 100px;
  margin-left: auto;
  margin-right: auto;
}

.tabs {
  color: #999;
  font-weight: bold;
}

.tabs > li {
  display: inline-block;
  float: left;
  cursor: pointer;
  margin: 0 30px;
  padding: 15px
}

.tabs > li:hover {
  color: #000;
}

.selected-li {
  color: #222;
}


.profile-actions {
  float: right;
  margin-top: 67px;
  color: #fff;
}

.profile-like-button {
  height: 40px;
  margin-right: 20px;
  width: 130px;
  text-align: center;
  border: 1px solid #cecece;
  border-radius: 3px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.profile-like-button:hover {
  background-color: rgb(222, 222, 222);
  background-color: rgba(222, 222, 222, 0.8);
}

.profile-message-button {

  width: 130px;
  text-align: center;

  height: 40px;
  margin-right: 20px;
  width: 130px;
  text-align: center;
  border: 1px solid #cecece;
  border-radius: 3px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.profile-message-button:hover {
  background-color: rgb(222, 222, 222);
  background-color: rgba(222, 222, 222, 0.8);
}

.block {
  display: block;
  margin-top: 15px;
  height: 25px;
  width: 35px;
  background: #fff;
  border-radius: 25px;
}

.liked {
  background-color: rgb(255, 199, 0);
  background-color: rgba(255, 199, 0, 0.8);
}

.message-bubble {
  position: relative;
}

.pointer {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-top: 10px solid #fff;
  border-right: 10px solid transparent;
  left: 22px;
  bottom: -6px;
}

.message-bubble:hover > .block {
  background: #aaa;
}

.message-bubble:hover > .pointer {
  border-top: 10px solid #aaa;
}
